/* FAQ container */
.faq-container {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
    padding: 20px;
}

/* Title styling */
.faq-title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Subtitle */
.faq-subtitle {
    color: #e74c3c;
    font-size: 18px;
    margin-bottom: 40px;
}

/* FAQ box */
.faq-box {
    width: 100%;
    text-align: left;
}

/* Each question row */
.faq-item {
    margin-bottom: 20px;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

/* Q + Icon layout */
.faq-question {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 500;
}

/* Icon */
.faq-question .icon {
    font-size: 22px;
    font-weight: bold;
}

/* Answer section (hidden by default) */
.faq-answer {
    display: none;
    margin-top: 10px;
    color: #555;
    font-size: 17px;
    
}

.faq-containers {
    max-width: 800px;
    margin: -70px auto;
    text-align: center;
    padding: 20px;
}
