


.about h2{
    text-align: center;
    margin-top: 60px;
    font-family:'poppins', sans-serif;
    font-size: 30px;
}
.about2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 20px;

}
.about2 div {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.about2 img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-radius: 10px;
}

.about2 h4 {
    position: absolute;
    bottom: 10px;
    left: 15px;
    color: #fff;
    font-size: 18px;
    text-shadow: 0 0 5px #180909;
}